[submodule "dependencies/libsodium-cmake"]
	path = dependencies/libsodium-cmake
	url = https://github.com/robinlinden/libsodium-cmake.git
[submodule "dependencies/FuzeHttp"]
	path = dependencies/FuzeHttp
	url = https://github.com/Liteb0t/FuzeHttp
[submodule "dependencies/libdatachannel"]
	path = dependencies/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel
[submodule "dependencies/tiny-HMAC-c"]
	path = dependencies/tiny-HMAC-c
	url = https://github.com/Liteb0t/tiny-HMAC-c
