<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Change password - CONFIG_site_name</title>
		<meta name="description" content="Fuze Mediaboard is a fast, modern messageboard.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="icon" type="image/x-icon" href="CONFIG_favicon_url">
		<link rel="stylesheet" href="static/styles.css">
	</head>
	<body>
		<!--Navbar can go here-->
		<main>
			<h1>Change password - CONFIG_site_name</h1>
			<!--<h3>Editing account: <span id="account_username_element"></span></h3>-->
			<form action="" method="POST" autocomplete="account">
				<div class="FormGrid">
					<label for="account_username_input">Username</label>
					<input id="account_username_input" type="text" name="account_username" maxlength="CONFIG_account_max_username" required><span></span>
					<label for="old_password_input">Old password</label>
					<input id="old_password_input" type="password" name="old_password" required>
					<input type="button" value="Show" id="toggle_old_password_visibility_button" class="RightAligned" onclick="toggleOldPasswordVisibility()">
					<label for="new_password_input">New password</label>
					<input id="new_password_input" type="password" name="new_password" required>
					<input type="button" value="Show" id="toggle_new_password_visibility_button" class="RightAligned" onclick="toggleNewPasswordVisibility()">
				</div>
				<!--JSON is used instead of standard HTTP so this is not used
				<input type="submit">-->
				<input type="button" value="Change password" id="change_password_button" class="RightAligned" onclick="changePasswordAction()">
			</form>
			<div id="error_messages"></div>
		</main>
		<dialog id="status_dialog"><p id="status_dialog_body">Loading...</p></dialog>
		<dialog id="password_reset_success_dialog" closedby="any">
			<h2>Success</h2>
			<p>Changed password for <i id="changed_password_for">some dude idk</i></p>
			<div class="ToolBar"><a class="Button" href="./">Proceed</a><button onclick="password_reset_success_dialog.close()">Close</button></div>
		</dialog>
	</body>
<script type="module" src="static/argon2.umd.min.js"></script>
<script src="./static/UserAuthentication.js"></script>
<script>
"use strict";
let old_password_is_visible = false;
let new_password_is_visible = false;
const account_username = localStorage.getItem("account_username");
if (account_username) {
	account_username_input.value = account_username;
}

async function changePasswordAction() {
	error_messages.textContent = "";
	const form_fields = {
		username: account_username_input.value,
		old_password: old_password_input.value,
		new_password: new_password_input.value
	};
	changed_password_for.textContent = form_fields.username;
	let fetch_response;
	try {
		if (form_fields.old_password.length === 0)
			throw new Error("Old password cannot be empty");
		if (form_fields.new_password.length === 0)
			throw new Error("New password cannot be empty");

		// Old password
		let auth_old_password = new UserAuthentication(form_fields.username, form_fields.old_password);

		status_dialog_body.textContent = "Requesting old password parameters...";
		status_dialog.showModal();
		await auth_old_password.requestAccountParameters();

		status_dialog_body.textContent = "Calculating secure hash...";
		const old_password_hash_base64 = await auth_old_password.calculateHash();

		// New password
		let auth_new_password = new UserAuthentication(form_fields.username, form_fields.new_password);

		status_dialog_body.textContent = "Requesting new password parameters...";
		status_dialog.showModal();
		await auth_new_password.requestAccountParameters(true);

		status_dialog_body.textContent = "Calculating secure hash...";
		const new_password_hash_base64 = await auth_new_password.calculateHash();
		// console.log(`[newRegisterAction] password_hash_base64: ${password_hash_base64}`);
		// Send the new hash to the server

		status_dialog_body.textContent = "Sending account details to server...";
		let change_password_data = {
			intermediate_salt_base64: auth_new_password.parameters_json["intermediate_salt_base64"],
			username: form_fields.username,
			new_password_hash_base64: new_password_hash_base64,
			old_password_hash_base64: old_password_hash_base64
		};
		const change_password_response = await fetch("./registration/change_password", {
			method: "POST",
			body: JSON.stringify(change_password_data)
		});
		if (!(change_password_response && change_password_response.ok)) {
			let header_error_message = change_password_response.headers.get("message");
			if (header_error_message == null) {
				throw new Error(`ERROR ${change_password_response.status}\n${change_password_response.statusText}`);
			}
			else {
				throw new Error(`ERROR ${change_password_response.status}\n${change_password_response.statusText}\n${header_error_message}`);
			}
		}
		status_dialog.close();
		password_reset_success_dialog.showModal();
	}
	catch (error) {
		status_dialog.close();
		console.error(error.message);
		error_messages.innerText = error ? error.message : "An unknown error occured";
	}
}
function toggleOldPasswordVisibility() {
	if (old_password_is_visible) {
		old_password_input.type="password";
		toggle_old_password_visibility_button.value = "Show";
		old_password_is_visible=false;
	}
	else {
		old_password_input.type="text";
		toggle_old_password_visibility_button.value = "Hide";
		old_password_is_visible=true;
	}
}
function toggleNewPasswordVisibility() {
	if (new_password_is_visible) {
		new_password_input.type="password";
		toggle_new_password_visibility_button.value = "Show";
		new_password_is_visible=false;
	}
	else {
		new_password_input.type="text";
		toggle_new_password_visibility_button.value = "Hide";
		new_password_is_visible=true;
	}
}
</script>
</html>
